<div class="wrapper">
   <div class="title">Registration Form</div>
   <div class="form">
     <div class="inputfield">
       <label>First Name</label>
       <input #name type="text" class="input" name="name" />
     </div>
     <div class="inputfield">
       <label>Last Name</label>
       <input #last type="text" class="input" name="last" />
     </div>
     <div class="inputfield">
       <label>Country</label>
       <input #country type="text" class="input" name="country" />
     </div>
     <div class="inputfield">
       <label>City</label>
       <input #city type="text" class="input" name="city" />
     </div>
     <div class="inputfield">
       <label>Gender</label>
       <div class="custom_select">
         <select>
           <option value="">Select</option>
           <option value="male">Male</option>
           <option value="female">Female</option>
         </select>
       </div>
     </div>
     <div class="inputfield">
       <label>Address/postal code</label>
       <input
         #adressPostalCode
         type="text"
         class="input"
         name="adressPostalCode"
       />
     </div>
     <div class="inputfield">
       <label>Driving Licence</label>
       <input #diving type="text" class="input" name="diving" />
     </div>
     <div class="inputfield">
       <label>Date of Birth</label>
       <input #dateOfBirth type="text" class="input" name="dateOfBirth" />
     </div>
     <div class="inputfield">
       <label>Place of Birth</label>
       <input #placeOfBirth type="text" class="input" name="placeOfBirth" />
     </div>
     <div class="inputfield">
       <label>Nationality</label>
       <input #nationality type="text" class="input" name="nationality" />
     </div>
     <div class="inputfield">
       <label>Education level</label>
       <input #education type="text" class="input" name="education" />
     </div>
     <div class="inputfield">
       <label>Facebook link </label>
       <input #facebook type="text" class="input" name="facebook" />
     </div>
     <div class="inputfield">
       <label>Languages</label>
       <input #language type="text" class="input" name="language" />
     </div>
     <div class="inputfield">
       <label>skills</label>
       <input #skills type="text" class="input" name="skills" />
     </div>
     <div class="inputfield">
       <label>Hobbies</label>
       <input #hobbies type="text" class="input" name="hobbies" />
     </div>
     <div class="inputfield">
       <label>image</label>
       <input #image type="file" class="input" name="image" />
     </div>
     <div class="inputfield">
       <label>Summery</label>
       <textarea #summery class="textarea" name="summery"></textarea>
     </div>
     <div class="inputfield">
       <button
         (click)="takedata(name.value, last.value, country.value, city.value,adressPostalCode.value ,diving.value ,dateOfBirth.value ,placeOfBirth.value,nationality.value ,education.value,facebook.value ,language.value,skills.value ,hobbies.value ,image.value ,summery.value )"
         class="btn"
       >
         Registration
       </button>
     </div>
   </div>
 </div>
 