<p>login-companies works!</p>
<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Login</h1>
      <div>
        <span class="input-group-text">name</span>
        <input type="text" class="form-control" name="name" #name />
        <span class="input-group-text">password</span>
        <input type="text" class="form-control" name="password" #password />
      </div>
    </div>
  </form>
  <button (click)="loginTC(name, password)">submit</button>
</div>
