<div class="container">
    <form>
      <div class="form-group">
        <h1 class="text-center text-primary">signup page</h1>
        <div>
          <span class="input-group-text">name</span>
          <input #name type="text" class="form-control" name="name" />
          <span class="input-group-text">password</span>
          <input #password type="text" class="form-control" name="password" />
          <span class="input-group-text">repeatPassword</span>
          <input
            #reppassword
            type="text"
            class="form-control"
            name="reppassword"
          />
        </div>
      </div>
    </form>
    <button
      (click)="
        collectCompanies(
          name.value,
          password.value
          
        )
      "
    >
      submit
    </button>
  </div>
  
  <!-- <p>if you already have acount <a href="#" routerLink="login">login</a></p> -->